apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hrm-ingress
  namespace: hrm-project
spec:
  rules:
    - host: hrm.wonbin.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nginx-service
                port:
                  number: 8080
