apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-php
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: php
          env:
            - name: DB_HOST
              value: "hrm-aurora.cluster-cn4ame8y0oyq.ap-northeast-2.rds.amazonaws.com"
            - name: DB_USER
              value: "admin"
            - name: DB_NAME
              value: "hrm_db"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: db-password
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: aws-access-key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: aws-secret-key
            - name: AWS_DEFAULT_REGION
              value: "ap-northeast-2"
            - name: MINIO_HOST
              value: "s3.ap-northeast-2.amazonaws.com"
            - name: MINIO_PUBLIC_URL
              value: "https://hrm-bucket-soldesk.s3.ap-northeast-2.amazonaws.com/hrm-project"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-nginx
spec:
  replicas: 1
