apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-php
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: php
          env:
            # [DB 설정] Aurora 엔드포인트로 변경
            - name: DB_HOST
              value: "hrm-aurora.cluster-cn4ame8y0oyq.ap-northeast-2.rds.amazonaws.com" # 실제 Aurora 엔드포인트 입력
            - name: MARIADB_DATABASE
              value: "hrm_db" # Aurora에 생성한 DB명
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: db-password

            # [S3 설정] MinIO 대신 AWS S3 정보 입력
            # PHP 코드에서 AWS SDK를 쓴다면 표준 환경변수 사용 권장
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: aws-access-key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: aws-secret-key
            - name: AWS_DEFAULT_REGION
              value: "ap-northeast-2"
            
            # 기존 앱이 MINIO_HOST 변수를 사용한다면 S3 호스트로 매핑
            - name: MINIO_HOST
              value: "s3.ap-northeast-2.amazonaws.com"
            
            # 퍼블릭 URL을 S3 버킷 주소로 변경
            - name: MINIO_PUBLIC_URL
              value: "https://hrm-bucket-soldesk.s3.ap-northeast-2.amazonaws.com/hrm-project"

---
# Nginx 패치 (기존 내용 유지)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-nginx
spec:
  replicas: 1
