apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-php
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: php
          env:
            - name: CLUSTER_ENV
              value: "AWS_CLOUD"
            # -----------------------------------------------------------
            # 1. [DB 설정] 읽기는 AWS(Aurora), 쓰기는 온프레미스(VPN)
            # -----------------------------------------------------------
            - name: DB_READ_HOST
              value: "hrm-aurora.cluster-cn4ame8y0oyq.ap-northeast-2.rds.amazonaws.com"
            - name: DB_WRITE_HOST
              value: "172.16.6.91"
            - name: DB_USER
              value: "admin"
            - name: DB_NAME
              value: "hrm_db"
            - name: DB_PASS
              value: null
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: db-password
            - name: DB_PORT
              value: "30306"

            # -----------------------------------------------------------
            # 2. [MinIO 쓰기 설정] 업로드는 무조건 온프레미스로! (VPN)
            # -----------------------------------------------------------
            # [중요] VPN IP가 143이 맞다면 143으로 수정하세요! (오타 주의)
            - name: MINIO_HOST
              value: "172.16.6.91"
            - name: MINIO_PORT
              value: "9000"
            - name: MINIO_BUCKET
              value: "hrm-bucket-soldesk"
            - name: MINIO_ACCESS_KEY
              value: "admin"
            - name: MINIO_SECRET_KEY
              value: "admin1234"

            # -----------------------------------------------------------
            # 3. [Hybrid 읽기 전략] AWS 모드 활성화
            # -----------------------------------------------------------
            - name: STORAGE_MODE
              value: "AWS"
            
            # S3 버킷 주소 (https:// 제외)
            - name: AWS_S3_BUCKET_URL
              value: "hrm-bucket-soldesk.s3.ap-northeast-2.amazonaws.com"

            # AWS 인증 정보
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: aws-access-key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: hrm-aws-secret
                  key: aws-secret-key
            - name: AWS_DEFAULT_REGION
              value: "ap-northeast-2"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-nginx
spec:
  replicas: 1
