apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hrm-project

resources:
  - namespace.yaml
  - ../../base
  - pv-hostpath.yaml

patchesStrategicMerge:
  - storage-patch.yaml    
  - deployment-patch.yaml 
  - ingress-patch.yaml    
