apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hrm-project

resources:
  - ../../base

patches:
  - path: deployment-patch.yaml
  - path: ingress-patch.yaml
  - path: delete-local-db.yaml
